# Switch AMDGPU power profile on AC / Battery state change
SUBSYSTEM=="power_supply", ATTR{online}=="0", ACTION=="change", RUN+="/usr/local/bin/amdgpu-power-switch.sh battery"
SUBSYSTEM=="power_supply", ATTR{online}=="1", ACTION=="change", RUN+="/usr/local/bin/amdgpu-power-switch.sh ac"
